<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   
    <add key="RabbitMqHostName" value="localhost" />
    <add key="RabbitMqServerPort" value="15672" />
    <add key="RabbitMqVirtualHostAMQP" value="/amqp" />
    <add key="RabbitMqUsernameAMQP" value="guest" />
    <add key="RabbitMqPwdAMQP" value="guest" />
    <add key="RabbitMqVirtualHostMQTT" value="/amqp" />
    <add key="RabbitMqUsernameMQTT" value="amqp" />
    <add key="RabbitMqPwdMQTT" value="amqp" />
    <add key="RabbitMQReconnectingAttempts" value="5" />
     </appSettings>
</configuration>